<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<title><%= page.title %></title>
<script src="/lib/jquery-3.7.1.min.js"></script>

<link href="/css/water.css" rel="stylesheet">
<link href="/css/odi.css" rel="stylesheet">
<link href="/css/survey.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/odifavicon32.ico">
</head>
<body>