<script src="/lib/survey/survey.core.min.js"></script>
<script src="/lib/survey/survey.i18n.min.js"></script>
<script src="/lib/survey/index.min.js"></script>
<script src="/lib/survey/survey-js-ui.js"></script>
<link rel="stylesheet" href="/lib/survey/defaultV2.min.css" />
<div>
    <select id="languageSelector">
        <option value="en">English</option>
        <option value="es">Español</option>
    </select>
</div>